
html {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-size: cover;
	background-color: black;
}
h1{
	font-size: 300%;	
	color: white;
	padding-left: 15%;	
	padding-right: 15%;
}
h2{
	font-size: 140%;
	color: white;
}
h3{
	font-size: 120%;
	color: white;
	text-align: center;
}
button {
  background-color: #ff71ce;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
p{
	color: white;
}
footer {
	clear: right;
	clear: left;
	text-align:center;
	color: white;
	padding-bottom: 15px;	
	padding-top: 15px;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.left_article {
	width:40%;
	float: left;
}
.right_article {
	width:49%;	
	float: right;	
} 